.blog {
	padding: 10rem 0;
}

.blog__items {
	margin-top: 3rem;
}

.blog__img-wrap {
	position: relative;
}

.blog__date {
	display: flex;
	flex-direction: column;
	position: absolute;
	left: -10px;
	bottom: 10px;
	padding: 1rem 1.5rem;
	text-align: center;
	background-color: $primary-color;
}

.blog__day {
	font-family: $title-font;
	font-size: 3rem;
	font-weight: 700;
	line-height: 1;
	color: #fff;
}

.blog__mouth {
	font-family: $text-font;
	font-size: 1.5rem;
	font-weight: 300;
	font-style: italic;
	line-height: 1;
	color: #fff;
}

.blog__title {
	margin: 1.6rem 0;
	font-family: $title-font;
	font-size: 1.4rem;
	font-weight: 400;
	text-transform: uppercase;
	color: $title-color;
	a {
		font: inherit;
		color: $title-color;
	}
}

.blog__text {
	color: $text-color;
	font-family: $text-font;
	font-size: 1.5rem;
	font-weight: 400;
}

.blog__footer {
	padding-top: 1.6rem;
	border-top: 1px solid #e5e5e5;
}

.blog__views {
	margin-right: 2rem;
}

.blog__views,
.blog__comments {
	color: $text-color;
	font-family: $text-font;
	font-size: 1.5rem;
	font-style: italic;
	i {
		margin-right: 6px;
		color: $primary-color;
	}
}