.people {
	position: relative;
	padding: 10rem 0 5rem;
	background: url('../images/people__bg.jpg') center center / cover no-repeat;
	@media (max-width: 991px) {
		padding: 6rem 0 1rem;
	}
	.section__title {
		margin-bottom: 8rem;
	}
}

.people:before {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	display: block;
	width: 100%;
	height: 100%;
	background-color: rgba(255, 255, 255, 0.85);
}

.people__item {
	display: flex;
	align-items: flex-start;
	margin-bottom: 5rem;
	@media (max-width: 500px) {
		flex-direction: column;
	}
}

.people__img {
	border-radius: 50%;
	@media (max-width: 500px) {
		margin: 0 auto 2rem;
	}
}

.people__descr {
	margin-left: 3rem;
	@media (max-width: 500px) {
		margin-left: 0;
	}
}

.people__title {
	font-family: $title-font;
	font-size: 1.4rem;
	text-transform: uppercase;
	color: $title-color;
	@media (max-width: 500px) {
		text-align: center;
	}
}

.people__span {
	position: relative;
	font-family: $title-font;
	font-size: 1.4rem;
	font-style: italic;
	font-weight: 300;
	color: $title-color;
	@media (max-width: 500px) {
		display: block;
		text-align: center;
	}
	&:after {
		@extend .decor-line;
		bottom: -20px;
		left: 0;
		@media (max-width: 500px) {
			left: 50%;
			transform: translateX(-50%);
		}
	}
}

.people__text {
	font-family: $title-font;
	font-size: 1.5rem;
	margin-top: 4rem;
	color: $text-color;
	@media (max-width: 500px) {
		text-align: center;
	}
}