.quote {
  padding: 70px;
  background-color: #f8f8f8;
}

.quote__item {
  display: flex;
  align-items: center;
  margin: 0 110px;
}

.quote__icon {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 60px;
  padding: 40px;
  font-size: 4em;
  color: $primary-color;
  border: 3px solid $primary-color;
}

.quote__text {
  margin-bottom: 20px;
  font-size: 24px;
  font-weight: 300;
  font-style: italic;
}

.quote__author {
  position: relative;
  left: 80px;
  font-family: 'Kaushan Script', cursive;
  font-size: 24px;
  color: #333;
  &:before {
    @extend .decor-line;
    left: -80px;
    top: 50%;
  }
}

.carousel-control-prev, .carousel-control-next {
  width: 5%;
  opacity: 1;
}

.carousel-control-prev-icon, .carousel-control-next-icon {
  display: inline-block;
  width: auto;
  height: auto;
  background: transparent;
  .fa {
    font-size: 3em;
    color: #ccc;
  }
}