.services {
    padding: 10rem 0 7rem;
    .section__title {
        margin-bottom: 6rem;
    }
}

.services__item {
    display: flex;
    margin-bottom: 5rem;
    svg {
        min-width: 32px;
    }
}

.services__descr {
    margin-left: 2.8rem;
}

.services__title {
    margin-bottom: 1.6rem;
    font-size: 1.4rem;
    text-transform: uppercase;
}

.services__text {
    margin-bottom: 0;
    font-size: 1.5rem;
}