.services {
    padding: 100px 0 70px;
    .section__title {
        margin-bottom: 60px;
    }
}

.services__item {
    display: flex;
    margin-bottom: 50px;
    svg {
        min-width: 32px;
    }
}

.services__descr {
    margin-left: 28px;
}

.services__title {
    margin-bottom: 16px;
    font-size: 14px;
    text-transform: uppercase;
}

.services__text {
    margin-bottom: 0;
    font-size: 15px;
}