.we-do {
	padding: 10rem 0 12rem;
	.section__text {
		margin-bottom: 9rem;
	}
}

.we-do__item {
	margin-bottom: 1rem;
	border: 1px solid #e5e5e5;
	&:last-child {
		margin-bottom: 0;
	}
}

.we-do__summary {
	position: relative;
	padding: 1.8rem 6rem;
	font-family: $title-font;
	font-size: 1.4rem;
	text-transform: uppercase;
	color: $title-color;
	outline: none;
	&::-webkit-details-marker {
		display: none;
	}
	&:before {
		content: '';
		position: absolute;
		top: 15px;
		left: 15px;
		display: block;
		width: 30px;
		height: 30px;
	}
	&:after {
		content: '\f107';
		position: absolute;
		top: 8px;
		right: 20px;
		font-family: 'FontAwesome';
		font-size: 3rem;
		color: #ccc;
	}
}

.we-do__summary--photo:before {
	background: url("../images/we-do__picture.svg") no-repeat;
	background-size: contain;
}

.we-do__summary--creativity:before {
	background: url("../images/we-do__equalizer.svg") no-repeat;
	background-size: contain;
}

.we-do__summary--design:before {
	background: url("../images/we-do__bullseye.svg") no-repeat;
	background-size: contain;
}

.we-do__item[open]>.we-do__summary {
	border-bottom: 1px solid #e5e5e5;
}

.we-do__item[open]>.we-do__summary:after {
	content: '\f106';
}

.we-do__text {
	max-height: 130px;
	margin: 2rem 2.5rem 2.4rem 2rem;
	padding-right: 3rem;
	font-size: 1.5rem;
	font-style: italic;
	overflow-y: scroll;
	&::-webkit-scrollbar {
		width: 5px;
	}
	&::-webkit-scrollbar-track {
		background-color: #f5f5f5;
		border-radius: 3px;
	}
	&::-webkit-scrollbar-thumb {
		background-color: $primary-color;
		border-radius: 3px;
	}
	&::-webkit-scrollbar-thumb:hover {
		background-color: darken($primary-color, 20%);
	}
}