$primary-color: #95e1d3;
$secondary-color: #f38181;

$title-color: #333;
$text-color: #999;
$link-color: #fce38a;

$title-font: 'Montserrat', sans-serif;
$text-font: 'Roboto', sans-serif;
$link-font: 'Montserrat', sans-serif;